# **Doc-Talents-Data set generating**

In [ ]:
#installing mysql-connector-python
!pip install mysql-connector-python

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.32-cp39-cp39-manylinux1_x86_64.whl (23.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 23.5/23.5 MB 66.3 MB/s eta 0:00:00
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in /usr/local/lib/python3.9/dist-packages (from mysql-connector-python) (3.20.3)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.32

In [ ]:
import mysql.connector
import random

In [ ]:
try:
    cnx = mysql.connector.connect(
        host='bokzvmdupkmxiv74l7jt-mysql.services.clever-cloud.com',
        user='u2gfxdudha1kasbe',
        password='JrIZFqUsiOnv2DAU2MU',
        database='bokzvmdupkmxiv74l7jt',
        port='20859'
    )
    print("Connection established successfully!")
except mysql.connector.Error as error:
    print("Connection couldn't be established. Error message:", error)

Connection established successfully!

In [ ]:
# check if the connection is successful
if cnx.is_connected():
    print("Database connected successfully.")

Database connected successfully.

In [ ]:
# Create a cursor
cursor = cnx.cursor()

In [ ]:
cursor = cnx.cursor()
table_name = 'Doctorant'
query = f"SHOW TABLES LIKE '{table_name}'"
cursor.execute(query)
result = cursor.fetchone()
if result:
    print(f"Table '{table_name}' exists.")
else:
    print(f"Table '{table_name}' does not exist.")

Table 'Doctorant' exists.

In [ ]:
cursor.execute("DROP TABLE doctorant;")
cursor.execute("SHOW TABLES")
for x in cursor:
  print(x)

('DPGR',)
('Doctorant',)
('Encadrant',)
('Inscription',)
('PV',)
('Seminaire',)

In [ ]:
cursor.execute("COMMIT")
cursor.execute("SHOW TABLES")
for table in cursor:
    print(table)

('DPGR',)
('Doctorant',)
('Encadrant',)
('Inscription',)
('PV',)
('Seminaire',)

In [ ]:
# Define a list of specialities
specialities = ['Data Science', 'Machine Learning', 'Computer Vision', 'Natural Language Processing', 'Robotics']

# Define a list of universities
universities = ['MIT', 'Stanford', 'Carnegie Mellon', 'University of Toronto', 'ETH Zurich']

# Define a list of genders
genders = ['M', 'F']

# Define a list of doctorat types
doctorat_types = ['Classique', 'Cotutelle', 'Convention Industrielle de Formation par la REcherche (CIFRE)']

# Define a list of soutenu types
soutenu_types = ['Oui', 'Non']

laboratories = ['Laboratory A', 'Laboratory B', 'Laboratory C', 'Laboratory D']


# Define a list of differe types
differe_types = ['Oui', 'Non']

# Define a list of abandon types
abandon_types = ['Oui', 'Non']

# Define a list of radie types
radie_types = ['Oui', 'Non']

# Define a list of PV IDs
pv_ids = ['PV_1', 'PV_2', 'PV_3', 'PV_4', 'PV_5']

# Define a list of seminar titles
seminar_titles = ['How to Train Your Neural Network', 'Natural Language Generation', 'Image Segmentation using U-Net', 'Deep Reinforcement Learning', 'Optimization Techniques for Machine Learning']

# Define a list of seminar summaries
seminar_summaries = ['This seminar covers the basics of training neural networks', 'Learn how to generate natural language text using deep learning techniques', 'This seminar covers the U-Net architecture for image segmentation', 'Learn about the latest advancements in deep reinforcement learning', 'This seminar covers optimization techniques for machine learning algorithms']

In [ ]:
nom_list = ["BOUDAH","ATAMNA","ABERKANE","BENADJAOUD","TOUTI","HARRAT","BERRICHE","MADINA","BELAID","KELLAL","BENSAADA","BELAID","BOUROUCHA","CHOUKRANE","ELTAHAWI","TEBAL","LAZZOUNI","HENNOUNI","DJAOUD","SAIDI","AHMED AOUMER","FETTOUCHI","MAHDI","BERROU","GUEMMOUN","LARADJI","AKIL","MERNIZ","ETCHIALI","HAMOUDA","DAOUD","OUARAB","FADHILI","BENARAB","ANTITENE","NAIT YAHIA","BELAKEBI","BELAKBI","BAIRI","SERAF","MEBAREK","SACI","BETTACHE","HAMDAOUI","BOUHALI","FIEDLER","ZITOUNI","FEKHAR","KHALDI","BETTACHE","LATRACHE","MIDOUNI","TOUAMI","MELIH","MEDJAHED","NEFSI","BELAIFA","MESSAOUDI","BENZIANE","FOUKROUNE","FERGUEN","NOUAL","CHALAL","OULMI","AITOUR","RABIR","MAOUCHE","HOCINE","HAMMAR","GUENNOUN","ZOUAOUI","BOUAZIZ","DJENDER","BENBAIBECHE","OULMI","FATEH","NOUAL AITOUR","FELLAH","NAILI","MERAD","CHERNAI","FATNASSI","HAMMACHE","MILOUDI","ZAOUI","GHECHAM","GRIGAHCENE","DJELLAL","HADDADOU","CHEBARAKA","MALDJI","ISSIAKHEM","HAMIMED","BOUTAGHOU","BOUARIF","BERKANE","NESIRA","BOUDISSA","ANGAR","AGGAR","BOUKROUT","FATAH","BOURAYA","BOUARICHE","LAYADI","HADJ SADOK","SAOULI","HAOUSSINE","HAOUSSINE","BEN BAKIR","BOUAROUDJ","CHEIKH","MECHRI","MEHDAOUI","AGAR","SAOULI","LADJAILIA","BERRIM","HAMID","ABDESSELAM","REZAK","BOUAZIZI","ALANE","AGUENTIL","BELGOURAI","DJOUAHRA","AZZOUG","MAHI","BOUDJERADA","AMOURA","NEKAA","SAADI","HAMDAOUI","SLIMANE","HADDADOU","LAIDI","ABDELHAMID","ALLOUCHE","MEDJEKANE","ACHAIBOU","DJELLOULI","IDIR","FERDI","DEKIMECHE","BOUNOUIOU","HAMDAOUI","HACHEMANE","DJETTEN","HAMZA","AZARA","DJETTEN","HACHEMANE","HAMDAOUI","AROUSSI","OUDAHMANE","NOUIOUA","ZENTAR","LARBES","BENDALI BRAHAM","FICHOUCHE","ZERGUI","BELKACEMI","AMALOU","BELAIDI","BENAMOUR","BOUKHOUF"]
prenom_list = ["Mohamed", "Ahmed", "Rachid", "Samira", "Fatima", "Salim", "Hicham", "Amira", "Djamila", "Nabil", "Zinedine", "Khadija", "Farid", "Karima", "Ali", "Houria", "Abdelkader", "Yasmina", "Omar", "Souad", "Hakim", "Leila", "Hamza", "Sabrina", "Youcef", "Malika", "Khaled", "Nassima", "Anis", "Meriem", "Reda", "Fatiha", "Walid", "Amina", "Sofiane", "Nadia", "Bilal", "Sihem", "Amine", "Hind", "Yacine", "Hanane", "Mehdi", "Saida", "Mustapha", "Samir", "Chaima", "Kamel", "Imene", "Tarek", "Halima", "Riad", "Selma", "Mounir", "Nesrine", "Zohra", "Yassine", "Nawel", "Brahim", "Hayat", "Faycal", "Nesma", "Mohamed Amine", "Fatima Zahra", "Amar", "Lila", "Ramzi", "Souhila", "Ayoub", "Imene Zahra", "Djamel", "Nour", "Nadir", "Karima Zohra", "Rafik", "Leila Zahra", "Anouar", "Naima", "Youssef", "Hanifa", "Anissa", "Abdallah", "Hafsa", "Zakaria", "Nesrin", "Amir", "Samia", "Sofian", "Sana", "Ahmed Taha", "Amel", "Abdelhakim", "Nesma Zahra", "Said", "Oumaima", "Mounia", "Walid Khaled", "Fatma", "Mokhtar", "Ines"]

In [ ]:
import random
import datetime

def random_date():
    start_date = datetime.date(2012, 1, 1)
    end_date = datetime.date(2021, 12, 31)
    delta = end_date - start_date
    random_days = random.randint(0, delta.days)
    random_date = start_date + datetime.timedelta(days=random_days)
    return random_date.strftime("%Y-%m-%d")

In [ ]:
import random

for i in range(100):
    nom = random.choice(nom_list)
    prenom = random.choice(prenom_list)
    date_naissance = '1990-01-01'
    sexe = random.choice(genders)
    mail = f'{nom.lower()}.{prenom.lower()}@{random.choice(universities)}.edu'
    telephone = f'({random.randint(100, 999)})-{random.randint(100, 999)}-{random.randint(1000, 9999)}'
    type_doctorat = random.choice(doctorat_types)
    etablissement_origine_master = random.choice(universities)
    etablissement_origine_ingeniorat = random.choice(universities)
    etablissement_origine_magistere = random.choice(universities)
    specialite = random.choice(specialities)
    intitule_sujet = f'{specialite} Thesis'
    intitule_sujet_bis = f'{specialite} Thesis - Part 2'
    pv_changement_these = random.choice(pv_ids)
    premiere_inscription = random_date()
    nombre_inscriptions = random.randint(1, 4)
    date_fichier_central = random_date()
    id_encadreur = random.randint(1, 20)
    id_coencadreur = random.randint(1, 20)
    laboratoire = random.choice(laboratories)
    soutenu = random.choice(['Yes', 'No'])
    date_soutenance = random_date()
    radie = random.choice(['Yes', 'No'])
    differe = random.choice(['Yes', 'No'])
    abandon = random.choice(['Yes', 'No'])

    insert_doctorant = """
    INSERT INTO `Doctorant` (`Id_Doctorant`, `nom`, `prenom`, `Date_naissance`, `sexe`, `mail`, `telephone`,
    `TypeDoctorat`, `Etablissement_origine_Master`, `Etablissement_origine_ingeniorat`, `Etablissement_origine_Magistere`,
    `Specialite`, `intitule_sujet`, `intitule_sujet_bis`, `PV_changement_these`, `Premiere_inscription`, `Nombre_inscriptions`,
    `Date_fichier_central`, `Id_Encadreur`, `Id_CoEncadreur`, `laboratoire`, `soutenu`, `date_soutenance`, `radie`, `differe`, `abandon`)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """

    id_doctorant = f'D{i + 1:03}'
    doctorant_data = (id_doctorant, nom, prenom, date_naissance, sexe, mail, telephone, type_doctorat,
                      etablissement_origine_master, etablissement_origine_ingeniorat, etablissement_origine_magistere, specialite,
                      intitule_sujet, intitule_sujet_bis, pv_changement_these, premiere_inscription, nombre_inscriptions,
                      date_fichier_central, id_encadreur, id_coencadreur, laboratoire, soutenu, date_soutenance, radie, differe, abandon)
                      
    cursor.execute

In [ ]:
#Committing the changes
cnx.commit()
print('Data inserted successfully!')

Data inserted successfully!

In [ ]:
#Check if the data is inserted corrctly
cursor.execute("SELECT * FROM Doctorant")
rows = cursor.fetchall()
for row in rows:
    print(row)

In [ ]:
result = cursor.execute(insert_doctorant, doctorant_data)
print(result)

IntegrityError: ignored

In [ ]:
selected_name = random.choice(nom_list, 1)

print("Selected name:", selected_name)

TypeError: ignored

In [ ]:
cursor.execute("SHOW CREATE TABLE Doctorant")
result = cursor.fetchone()
print(result)

InternalError: ignored